.content {
  width:100%;
  height:100%;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
}

.nav_list .webix_dataview_item{
  background-color: #ffffff;
  border-color: #ffffff;
}
.nav_list .webix_dataview_item.webix_selected{
  background-color: #eee;
}

.webix_nav_button_inner {
  color: dimgray !important;
}

.webix_nav_active {
  background-color:  dimgray !important;
  border-color: rgba(55, 55, 55, 0.4) !important;
}

.webix_nav_inactive {

  border-color: rgba(55, 55, 55, 0.9) !important;
}

.webix_hcell {
    line-height: 12px !important;
    font-weight: 200 !important;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}